<!DOCTYPE html>
<!--
  File: __file_name__.html
  Desc: __file_description__
  By:   Dewayne VanHoozer (dvanhoozer@gmail.com)
 -->
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv='Content-Language' content='de_DE' />
  <meta name='author' content='Patrick Simianer' />
  <meta name='robots' content='index, follow' />
  <meta name='revisit-after' content='15 days' />
  <meta name='description' content='' />
  <meta name='keywords' content='' />

  <title>html5 template</title>

  <link rel='stylesheet' type='text/css' href='stylesheets/styles.css' />
  <link rel='shortcut icon' type='image/png' href='images/favicon.png' />

  <script type='text/javascript' src='javascripts/untitled.js'></script>
</head>

<body>



</body>
</html>

