-# index.haml

%h2 Old fashion grid by table

%p Example Buttons that will crash the app ....

%table{ cellpadding: "10" }
  %tr
    %td
      %br
      %a{ :href => url('/button-one'), :class => "button" }
        Do ONE
    %td
      %br
      %a{ :href => url('/button-two'), :class => "button" }
        Do TWO


%p
  This is some text below the table